body{
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
  font-weight:  300;  
  margin:  0 0; 
  display:  flex; 
  align-items:  center; 
  justify-content: center; 
  background:  #f3f2f2; 
  height: 100%;
  padding: 0%;
  overflow-y: hidden;


}
.App{
   display: flex;
    flex-direction: row;
    width: 100%;
    width: 100vw;
    height: auto;
    margin: auto auto;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.12);

    
}

h1{
  color:  white;
  margin-top:30%;
  text-align:center;
  
}
.p-left{
  color:white;
  font-size: 14px;
  margin: 0;
  text-align: left;
  margin-left: 20%;
  margin-right: 10%;
  font-weight: 400;

}
h2{
  font-size:  24px; 
  font-weight:  600; 
  margin-bottom:  20px;
  color:  rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-self: center;
  border-bottom: 3px solid #BF55EC;
}

.left{
  width: 100%;
  width: 100vw;
  height: auto;
  margin: 0%;
  background-color: #BF55EC;
  background-size: cover;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  align-items: center;
}
.right{
  background: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
  width: 100%;
  width: 100vw;
  height: 100vw;
  overflow-y: hidden;
  position: static;
  align-items: center;
}
input{
  width: calc(100% - 44px);
  margin-left: auto;
  display: flex;
  font-size: 16px;
  padding: 20px 0px;
  height: 56px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 20vw;
  box-sizing: border-box;
  transition: all .3s linear;
  color: #000;
  font-weight: 400;
  -webkit-appearance: none;
  outline:none;
  margin-bottom: 10px;

}


/* General Buttons */
button {
  width: 130px;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */  
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

button:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6; 
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}

/* Button pointing left */

button.back {
  text-align: right;
  padding-right: 12px;
  box-sizing: border-box;
}
button.back:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-right: 16px solid transparent;
  border-left: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6; 
  left: 0;
  top: 0;
  border-radius: 5px 0 0 5px;    
}

  .card_title {
    letter-spacing: 1px;
    transition: 0.3s all ease-out;
    margin: 1rem 0 0 0;
  }


    .card_summary {
    margin-top: 0.5rem;
    font-weight: 100;
    margin: 1rem 0 0 0;
    color: rgba(0, 0, 0, 0.4);
    line-height: 1.5rem;
  }


  .card_wrapper {
  padding: 0.5rem;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin: 0 auto;
  display: block;
  margin-top: 10%;
}


li {
    color: grey;
        font-style: italic;
        font-size: 13px;
        background: transparent;
        box-shadow: none;
      } 

ul {
    list-style:none;
    padding:0;
    margin:0;
}
section {
  line-height:1.5;
  padding:20px;
}
.card_summary {
  font-size:1.5rem;
}




